<ion-list ng-show="loading == false" id="ion-list-metadata">
    <ion-item id="item-{{metadata.attributes.id}}" ng-class="{'metadata-item-list-signature':metadata.attributes.htmlType == 'signature', 'metadata-item-list': metadata.attributes.htmlType != 'signature'}" ng-repeat="metadata in CurrentDocument.metadatas.models | orderBy:['attributes.index']">

        <div ng-if="metadata.attributes.htmlType != 'ion-toggle'" class="metadata-label metadata-mandatory-{{metadata.attributes.mandatory}}">
            <div style="display:inline-block;width:70%">{{metadata.attributes.label}}</div>
            <div style="display: inline-block; width:25%">
                <div class="ion-close-circled" style="display:inline" ng-click="doResetAutocomplete(metadata.attributes.id)" ng-show="mode != 'READ' && metadata.attributes.htmlType == 'autocomplete'"></div>
                <div class="ion-ios-fastforward" style="display:inline;padding-left:20px" ng-click="doAutocompleteOnFocus(metadata.attributes.id)" ng-show="mode != 'READ' && metadata.attributes.htmlType == 'autocomplete'"></div>
                
                <div class="ion-close-circled" style="display:inline" ng-click="doResetBarCode(metadata.attributes.id)" ng-show="mode != 'READ' && metadata.attributes.htmlType == 'barcode'"></div>
                <div class="ion-ios-fastforward" style="display:inline;padding-left:20px" ng-click="doReadBarCode(metadata.attributes.id)" ng-show="mode != 'READ' && metadata.attributes.htmlType == 'barcode'"></div>
                
                <div class="ion-close-circled" style="display:inline" ng-click="doResetSignature(metadata.attributes.id,metadata.attributes.name)" ng-show="mode != 'READ' && metadata.attributes.htmlType == 'signature'"></div>
            </div>
        </div>

        <div ng-if="metadata.attributes.htmlType != 'ion-toggle' && metadata.attributes.htmlType != 'signature'" ng-switch on="metadata.attributes.htmlType" style="display: inline-block;width:100%;">
            <select ng-switch-when="list" ng-disabled="mode == 'READ'" ng-model="metadata.attributes.value" class="form-input-field" tabindex="{{metadata.attributes.index}}">
                <option ng-repeat="item in metadata.attributes.valueList.models" value="{{item.attributes.key}}" ng-selected="metadata.attributes.value == item.attributes.key">{{item.attributes.text}}</option>
            </select>
            <div ng-switch-when="textarea">
                <textarea ng-disabled="mode == 'READ'" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" ng-model="metadata.attributes.value" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" rows="2" placeholder="Saisir" class="form-input-field"></textarea>
            </div>
            <div ng-switch-when="autocomplete">
                <textarea ng-disabled="mode == 'READ'" rows="5" class="form-input-field" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" ng-model="metadata.attributes.text" tabindex="{{metadata.attributes.index}}" readonly="readonly"></textarea>
            </div>
            <div ng-switch-when="barcode">
                <textarea ng-disabled="mode == 'READ'" rows="5" class="form-input-field" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" ng-model="metadata.attributes.value" tabindex="{{metadata.attributes.index}}" readonly="readonly"></textarea>
            </div>
            <input ng-switch-when="date" ng-disabled="mode == 'READ'" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" type="{{metadata.attributes.type}}" ng-model="metadata.attributes.value" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" placeholder=" Saisir" class="form-input-field" />
            <input ng-switch-when="number" ng-disabled="mode == 'READ'" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" type="{{metadata.attributes.type}}" ng-model="metadata.attributes.value" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" placeholder=" Saisir" class="form-input-field" />
            <input ng-switch-default="" ng-disabled="mode == 'READ'" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" type="{{metadata.attributes.type}}" ng-model="metadata.attributes.value" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" placeholder=" Saisir" class="form-input-field" />
        </div>

        <div ng-if="metadata.attributes.htmlType == 'ion-toggle'">
            <ion-toggle ng-disabled="mode == 'READ'" ng-model=" metadata.attributes.value" toggle-class="toggle-calm" class="metadata-label-ion-toggle metadata-mandatory-{{metadata.attributes.mandatory}}" tabindex="{{metadata.attributes.index}}">
                {{metadata.attributes.label}}
            </ion-toggle>
        </div>
        <div ng-if="metadata.attributes.htmlType == 'signature'">
            <div ng-disabled="mode == 'READ'" class="form-input-field-signature" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" tabindex="{{metadata.attributes.index}}" readonly="readonly"></div>
       </div>
    </ion-item>
</ion-list>