<ion-list ng-show="loading == false">
    <ion-item ng-repeat="Page in myDoc.pages.models | filter: pageNotDeleted | orderBy:['attributes.pageNumber']" class="metadata-item-list">
        <div class="metadata-label" style="padding-left:2px">
            <img ng-click="enlarge('{{Page.attributes.id}}');" id="img-page-{{Page.attributes.id}}" class="takePictureThumbnail take-picture-rotate{{Page.attributes.rotation}}" data-ng-src="{{Page.attributes.base64Image}}" />
            <div class="take-picture-page-number">&#160;Page&#160;{{Page.attributes.pageNumber}}</div>
        </div>
        <div style="display:inline-block">
            <div class="container-takePicture">
                <div ng-show="mode != 'READ'" class="button button-small button-light ion-arrow-up-a" ng-click="moveUp('{{Page.attributes.id}}')"></div>
                <div ng-show="mode != 'READ'" class="button button-small button-light ion-arrow-down-a" ng-click="moveDown('{{Page.attributes.id}}')"></div>
            </div>
            <div class="container-takePicture">
                <div ng-show="mode != 'READ'" class="button button-small button-light ion-android-sync take-picture-rotate" ng-click="rotate('{{Page.attributes.id}}')"></div>
                <div ng-show="mode != 'READ'" class="button button-small button-light ion-trash-a" ng-click="delete('{{Page.attributes.id}}')"></div>
            </div>
        </div>
    </ion-item>
</ion-list>