<ion-view view-title="Take picture">
    <ion-content>

    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button class="button button-dark" go-back="">Annuler</button>
            <button class="button button-dark" ng-click="takePicture()">Prendre</button>
            <button class="button button-dark" ng-click="doSave()">Valider</button>
            <button class="button button-dark" go-click="{{nextUrl}}">Suivant</button>
        </div>
    </ion-footer-bar>
</ion-view>