<div>
    <div class="btn-toolbar" role="toolbar">
        <button type="button" class="btn btn-default glyphicon glyphicon-floppy-disk" ng-click="doSaveUser();" data-toggle="tooltip" title="Enregistrer" data-placement="bottom"></button>
        <button class="btn btn-default glyphicon glyphicon glyphicon-refresh" ng-click="doReset();" data-toggle="tooltip" title="Remise à zéro" data-placement="bottom"></button>
    </div>

    <form class="tk-form" id="divAccountInfo">
        <div class="form-group" id="divinputFirstName">
            <label for="inputFirtsName" class="form-tk-label">Prénom</label>
            <input class="form-control form-tk-item" id="inputFirstName" mandatory="true" ng-model="user.FirstName">
        </div>
        <div class="form-group" id="divinputLastName">
            <label for="inputLastName" class="form-tk-label">Nom</label>
            <input type="text" class="form-control form-tk-item" id="inputLastName" mandatory="true" ng-model="user.LastName">
        </div>
        <div class="form-group" id="divinputEmail">
            <label for="inputEmail" class="form-tk-label">Email</label>
            <input type="email" class="form-control form-tk-item" id="inputEmail" mandatory="true" ng-model="user.Email">
        </div>
        <!--<div class="form-group" id="divinputTelephone">
            <label for="inputTelephone" class="form-tk-label">Téléhpone</label>
            <input type="tel" class="form-control form-tk-item" id="inputTelephone">
        </div>-->
        <div class="form-group" id="divinputCulture">
            <label for="inputCulture" class="form-tk-label">Culture</label>
            <input type="text" class="form-control form-tk-item" id="inputCulture" mandatory="true" ng-model="user.Culture" readonly>
        </div>
        <div class="form-group" id="divinputGroupe">
            <label for="inputGroupe" class="form-tk-label">Groupe</label>
            <input type="text" class="form-control form-tk-item" id="inputGroupe" mandatory="true" ng-model="group.label" readonly>
        </div>
        <div class="form-group" id="divinputManager">
            <label for="inputManager" class="form-tk-label">Manager</label>
            <input type="text" class="form-control form-tk-item" id="inputManager" mandatory="false" readonly>
        </div>
        <div class="form-group" >
            <label>
                <input type="checkbox" ng-checked="{{user.ExternalAccount}}" onclick="return false;"> Utilisateur externe
            </label>
        </div>
    </form>
</div>


