<ion-view view-title="Connexion">
   <ion-content>
        <section>
            <p class="login">
                <label class="item item-input">
                    <span class="input-label">Compte</span>
                    <input type="text" ng-model="identity.login" />
                </label>
                <label class="item item-input">
                    <span class="input-label">Mot de passe</span>
                    <input type="password" ng-model="identity.password" />
                </label>
            </p>
        </section>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <div class="button button-light ion-log-in" ng-click="doCheck()"></div>
        </div>
    </ion-footer-bar>
</ion-view>
