<ion-view view-title="Login">
   <ion-content>
        <section>
            <p class="login">
                <label class="item item-input">
                    <span class="input-label">User</span>
                    <input type="text" ng-model="identity.login" />
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="identity.password" />
                </label>
            </p>
        </section>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button class="button next" ng-click="doCheck()"></button>
        </div>
    </ion-footer-bar>
</ion-view>
