<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="JpegTestFile1" value="D:\Temp\page1.jpeg" />
  <add key="JpegTestFile2" value="D:\Temp\page2.jpeg" />
  <add key="TempDirectory" value="D:\Temp\" />
  <add key="PageStoreUNC" value="\\l-fr-h0183/MSSQLSERVER/FileTables/PageStore"/>
</appSettings>
