<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="JpegTestFile1" value="C:\Temp\page1.jpeg" />
  <add key="JpegTestFile2" value="C:\Temp\page2.jpeg" />
  <add key="TempDirectory" value="D:\Temp\" />
  <add key="PageStoreUNC" value="\\l-fr-h0183/sqlexpress/FileTables/PageStore"/>
  <add key="VersionStoreUNC" value="\\l-fr-h0183/sqlexpress/FileTables/VersionStore"/>
  <add key="TempDirectory" value="C:\Projets\TakeDoc\TakeDocApi\TakeDocApi\Temp\Pdf\" />
  <add key="ModelDirectory" value="C:\Projets\TakeDoc\Model\"/>
  <add key="BatchConvertPdf" value="C:\Projets\TakeDoc\Model\convert.bat"/>
</appSettings>
