<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="JpegTestFile1" value="c:\Temp\page1.jpeg" />
  <add key="JpegTestFile2" value="c:\Temp\page2.jpeg" />
  <add key="TempDirectory" value="c:\Temp\" />
  <add key="PageStoreUNC" value="\\pc-house/sqlexpress/FileTables/PageStore" />
  <add key="VersionStoreUNC" value="\\pc-house/sqlexpress/FileTables/VersionStore" />
  <!--<add key="PageStoreUNC" value="\\l-fr-h0183/sqlexpress/FileTables/PageStore" />
  <add key="VersionStoreUNC" value="\\l-fr-h0183/sqlexpress/FileTables/VersionStore" />-->
</appSettings>
