<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d’informations sur la configuration de votre application ASP.NET, rendez-vous sur 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!--<appSettings configSource="AppSettings.config" />-->
  <appSettings configSource="AppSettings.config" />
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="MyContext" type="TakeDocModel.TakeDocEntities1, TakeDocModel" />
    <container>
      <register type="MyContext">
        <lifetime type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />
      </register>
      <register type="TakeDocDataAccess.Document.Interface.IDaoDocument, TakeDocDataAccess" mapTo="TakeDocDataAccess.Document.DaoDocument, TakeDocDataAccess" />
      <register type="TakeDocDataAccess.Document.Interface.IDaoPage, TakeDocDataAccess" mapTo="TakeDocDataAccess.Document.DaoPage, TakeDocDataAccess" />
      <register type="TakeDocDataAccess.Document.Interface.IDaoVersion, TakeDocDataAccess" mapTo="TakeDocDataAccess.Document.DaoVersion, TakeDocDataAccess" />
      <register type="TakeDocDataAccess.Document.Interface.IDaoPageStoreLocator, TakeDocDataAccess" mapTo="TakeDocDataAccess.Document.DaoPageStoreLocator, TakeDocDataAccess" />
      <register type="TakeDocDataAccess.Document.Interface.IDaoVersionStoreLocator, TakeDocDataAccess" mapTo="TakeDocDataAccess.Document.DaoVersionStoreLocator, TakeDocDataAccess" />
      <register type="TakeDocDataAccess.Document.Interface.IDaoMetaData, TakeDocDataAccess" mapTo="TakeDocDataAccess.Document.DaoMetaData, TakeDocDataAccess" />
      <register type="TakeDocDataAccess.Document.Interface.IDaoTypeDocument, TakeDocDataAccess" mapTo="TakeDocDataAccess.Document.DaoTypeDocument, TakeDocDataAccess" />
      <register type="TakeDocDataAccess.Document.Interface.IDaoDataFieldValue, TakeDocDataAccess" mapTo="TakeDocDataAccess.Document.DaoDataFieldValue, TakeDocDataAccess" />
      <register type="TakeDocDataAccess.Document.Interface.IDaoDataFieldAutoComplete, TakeDocDataAccess" mapTo="TakeDocDataAccess.Document.DaoDataFieldAutoComplete, TakeDocDataAccess" />

      <register type="TakeDocDataAccess.Security.Interface.IDaoUserTk, TakeDocDataAccess" mapTo="TakeDocDataAccess.Security.DaoUserTk, TakeDocDataAccess" />

      <register type="TakeDocDataAccess.External.Interface.IDaoCustomer, TakeDocDataAccess" mapTo="TakeDocDataAccess.External.DaoCustomer, TakeDocDataAccess" />

      <register type="TakeDocDataAccess.Parameter.Interface.IDaoEntity, TakeDocDataAccess" mapTo="TakeDocDataAccess.Parameter.DaoEntity, TakeDocDataAccess" />

      <register type="TakeDocService.Document.Interface.IMetaDataService, TakeDocService" mapTo="TakeDocService.Document.MetaDataService, TakeDocService" />
      <register type="TakeDocService.Document.Interface.IDataFieldService, TakeDocService" mapTo="TakeDocService.Document.DataFieldService, TakeDocService" />
      <register type="TakeDocService.Document.Interface.IImageService, TakeDocService" mapTo="TakeDocService.Document.ImageService, TakeDocService" />
      <register type="TakeDocService.Document.Interface.IDocumentService, TakeDocService" mapTo="TakeDocService.Document.DocumentService, TakeDocService" />
      <register type="TakeDocService.Document.Interface.IPageService, TakeDocService" mapTo="TakeDocService.Document.PageService, TakeDocService" />
      <register type="TakeDocService.Document.Interface.IVersionService, TakeDocService" mapTo="TakeDocService.Document.VersionService, TakeDocService" />
      <register type="TakeDocService.Document.Interface.ITypeDocumentService, TakeDocService" mapTo="TakeDocService.Document.TypeDocumentService, TakeDocService" />

      <register type="TakeDocService.External.Interface.ICustomerService, TakeDocService" mapTo="TakeDocService.External.CustomerService, TakeDocService" />

      <register type="TakeDocService.Print.Interface.IReportVersionService, TakeDocService" mapTo="TakeDocService.Print.ReportVersionService, TakeDocService" />

      <register type="TakeDocService.Workflow.Document.Interface.IWorkflowStatus, TakeDocService" mapTo="TakeDocService.Workflow.Document.WorkflowStatus, TakeDocService" />

      <register type="TakeDocService.Workflow.Security.Interface.IAccount, TakeDocService" mapTo="TakeDocService.Workflow.Security.Account, TakeDocService" />

      <register type="TakeDocService.Security.Interface.IUserTkService, TakeDocService" mapTo="TakeDocService.Security.UserTkService, TakeDocService" />
      <register type="TakeDocService.Security.Interface.IGroupeTkService, TakeDocService" mapTo="TakeDocService.Security.GroupeTkService, TakeDocService" />
      <register type="TakeDocService.Security.Interface.ICryptoService, TakeDocService" mapTo="TakeDocService.Security.CryptoService, TakeDocService" />
      <register type="TakeDocService.Security.Interface.IView_UserEntityService, TakeDocService" mapTo="TakeDocService.Security.View_UserEntityService, TakeDocService" />

      <register type="TakeDocService.Communication.Interface.IMailService, TakeDocService" mapTo="TakeDocService.Communication.MailService, TakeDocService" />

      <register type="TakeDocService.Stats.Interface.IDashboardService, TakeDocService" mapTo="TakeDocService.Stats.DashboardService, TakeDocService" />

      <register type="TakeDocService.Search.Interface.ISearch, TakeDocService" mapTo="TakeDocService.Search.Search, TakeDocService" />

      <register type="TakeDocService.Parameter.Interface.IEntityService, TakeDocService" mapTo="TakeDocService.Parameter.EntityService, TakeDocService" />
    </container>
  </unity>
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="10" />
      <threshold value="DEBUG" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=localhost\sqlexpress;initial catalog=TakeDoc;integrated security=false;persist security info=True;User ID=sa;Password=Kerenann06041979" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception],[Application]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @application)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@application" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="TakeDocWebApi" />
        </layout>
      </parameter>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
  
  <connectionStrings>
    <add name="TakeDocEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=TakeDoc;persist security info=True;user id=sa;password=Kerenann06041979;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <location path="" overrideMode="Allow">
    <system.webServer>
      <security>
        <authentication>
          <!--<anonymousAuthentication />-->
        </authentication>
      </security>
    </system.webServer>
  </location>
</configuration>