body {
    font-size:12px;
}

form {
    padding-left:5px;
}
.btn-toolbar {
    padding-left:10px;
    margin-bottom: 5px;
    background-color: #D8D8D8;
    height:40px;
    border-radius: 25px;
}

.form-tk-item {
    padding-bottom:5px;
    display: inline-block;
    width: 75% !important;
}

.form-tk-label {
    width:15% !important;
}

.tk-form div {
    padding-bottom:15px;
    padding-left: 5px;
}

/* spinner */
.btn-loader {
    position:absolute;
    display:block;
    top:50%;
    left:45%;
}
.btn-loader-container {
    width:100%;
    height:100%;
    position:absolute;
    background-color:black;
    opacity:0.7;
    display: none;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

/* modal */
.tk-modal {
    position:absolute;
    display:none;
    top:40%;
    left:0%;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#viewMenu{

}

#viewDetail {
    display:inline-block; 
    width:49%;
    height:100%;
    vertical-align:top
}

#viewGrid {
    display:inline-block; 
    width:49%;
    height:100%;
    vertical-align:top
}

.welcome {
    padding-left:25px;
    font-size: 16px;
    padding-top:200px;
}

/* module user entity*/
#divAccountEntity {
    padding-top:40px;
}

/* select in grid */
.selectInGrid {
    width: 50px;
    background-color: bisque
}

.tk-glyphicon {
    background-size: 50%;
    background-position:center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

.glyphicon-keys {
    background-image: url('../../Content/glyphicons_free/glyphicons/png/glyphicons-45-keys.png');
   
}

/* inbox - directoy*/
#inbox-directories {
    padding-left: 5px;
    padding-top: 5px;
    display:inline-block; 
    width:30%;
    height:100%;
    vertical-align:top;
}

.inbox-directory {
    font-weight: 800;
    cursor:pointer;
}

#inbox-directories div ul
{
    list-style-type: none;
}

#inbox-items {
        padding-top: 5px;
        display: inline-block;
        width: 68%;
        vertical-align: top;
}

.cell-inbox-item {
    height:50px !important;
}

.cell-inbox-item div {
    cursor:pointer;
}

.cell-inbox-item-title {
    font-weight: 600;
    font-size: 12px;
    width:100%;
}

.cell-inbox-item-title div {
    display: inline-block;
    padding-right: 10px;
    float: right;
}

.cell-inbox-item-title:hover {
    font-style:italic;
    color: #0404B4;
}

.cell-inbox-item-entity {
    font-size: 10px;
}

.inbox-item-CREATE {
    color:#D358F7;
}

/* inbox - display */
#divInboxDisplay ul
{
    list-style-type: none;
}

.inbox-metadata {
    padding-top: 5px;
}

.inbox-item-title {
    font-size:18px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.inbox-thumbnail {
    width:50px;
    height: 50px;
    padding-right: 5px;
    padding-top: 5px;
}

.inbox-thumbnail-rotate000 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.inbox-thumbnail-rotate090 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.inbox-thumbnail-rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.inbox-thumbnail-rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
