body {
    font-size:12px;
}

form {
    padding-left:5px;
}

.cadre {
    margin: 3px !important;
    padding: 10px !important;
    border:1px solid gray;
    border-radius: 5px;
    font-size:10px;
}

.btn-toolbar {
    height:30px;
}

.form-tk-item {
    padding-bottom:5px;
    display: inline-block;
    width: 75% !important;
}

.form-tk-label {
    width:20% !important;
}

.tk-form div {
    padding-bottom:15px;
    padding-left: 5px;
}

.panel {
    border:none;
}

/* spinner */
.btn-loader {
    position:absolute;
    display:block;
    top:50%;
    left:45%;
}
.btn-loader-container {
    width:100%;
    height:100%;
    position:absolute;
    background-color:black;
    opacity:0.7;
    display: none;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

/* modal */
.tk-modal {
    position:absolute;
    display:none;
    top:15%;
    left:0%;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#viewMenu{

}

#viewRight {
    display:inline-block; 
    width:49%;
    height:100%;
    vertical-align:top
}

#viewLeft {
    display:inline-block; 
    width:49%;
    height:100%;
    vertical-align:top
}

.welcome {
    margin-top: 100px;
    padding-left:25px;
    font-size: 16px;
    padding-top:10px;
    height: 500px;
    background-image: url(../../Content/welcome.jpg);
    background-repeat:no-repeat;
}

/* select in grid */
.selectInGrid {
    width: 50px;
    background-color: bisque
}

.glyphicon-keys {
    background-image: url('../../Content/glyphicons_free/glyphicons/png/glyphicons-45-keys.png');
    background-size: 50%;
    background-position:center;
    background-repeat: no-repeat;
    width:25px;
}

/* inbox - directoy*/
#inbox-directories {
    padding-top: 5px;
    padding-left: 10px;
    display:inline-block; 
    height:100%;
    vertical-align:top;
}
.inbox-group-directory {
    font-weight: 800;
}
.tk-text-green {
    color: green
}
.tk-text-red {
    color: red
}

.inbox-directory {
    padding-top:3px;
    padding-bottom:3px;
    padding-left:10px;
    min-width: 150px;
    max-width: 180px;
}

#inbox-directories div ul
{
    list-style-type: none;
    cursor: pointer;
}

#inbox-items {
    margin-left: 5px;
    padding-top: 5px;
    display: inline-block;
    width: 68%;
    vertical-align: top;
}

.inboxActiveItem {
    padding-left:10px;
    color:black;
    background-color:#D8D8D8;
    border-radius: 5px;
}

/* inbox - display */
#divInboxDisplay ul
{
    list-style-type: none;
}

.inbox-metadata {
    padding-top: 5px;
}

.inbox-item-title {
    font-size:18px;
}

.inbox-item-input {
    width: 50%;
}

.inbox-title {
    width:100%;
    background-color:transparent;
    border:1px solid #ffffff
}

.to-save-true {
    color: #DF3A01;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.autocomplete-list-choice {
    background-color: #F2F2F2;
    border-bottom:1px;
    border-bottom-style:solid; 
    border-bottom-width:thin;
    list-style-type: none;
    min-width:200px;
    max-width:300px;
    cursor:pointer;
}

.inbox-thumbnail {
    width:50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    border-color: #D8D8D8;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.inbox-thumbnail-map {
    min-width: 150px;
    min-height: 150px;
    max-width: 300px;
    max-width: 300px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    border-color: #D8D8D8;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.inbox-thumbnail-rotate000 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.inbox-thumbnail-rotate090 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.inbox-thumbnail-rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

}

.inbox-thumbnail-rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.inbox-action-header {
    background-color: #F2F2F2;
    border-color: #D8D8D8;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.inbox-action-cancel-false {
    background-color: #FAFAFA;
    height:40px;
    border-color: #D8D8D8;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.inbox-action-cancel-true {
    color: gray;
    height:40px;
    border-color: #D8D8D8;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.input-metadata-required {
  color:red;
}

.input-metadata-title {
    text-align:left !important;
    padding-top:10px !important;
    padding-left:0px !important;
}

.input-file-metadatafile-none {
    display:none;
    cursor:pointer;
}

.input-file-metadatafile-inline-block {
    display:inline-block;
    cursor:pointer;
}

/* admin type document */
.document-field-container, .manager-typedoc-container {
    margin: 0px !important;
    padding: 0px !important;
}
.document-field-label {
    display: inline-block;
    width: 150px;
    padding: 0px !important;
    margin: 0px !important;
    height: 30px;
}
.manager-typedoc-label {
    display: inline-block;
    padding: 0px !important;
    margin: 0px !important;
    height: 30px;
}

.datafield-add {
    cursor: pointer;
    margin-bottom: 10px;
}

.datafield-add:hover {
    text-decoration: underline;
}

/* search */
.search-field-deleted-true {
    color: gray;
}

.search-dropdown {
    min-width: 180px;
    text-align:left;
}

.search-item-input {
    width: 75%;
}

.search-field-title {
    text-align:left !important;
    padding-top:10px !important;
    padding-left:0px !important;
}

#seach-result-items {
    margin-left: 5px;
    padding-top: 5px;
    display: inline-block;
    width: 60%;
    vertical-align: top;
}


/* navbar */
.navbar-default {
    background-color: #848484;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #F2F2F2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #F2F2F2;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #F2F2F2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #F2F2F2;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}