<ion-view view-title="Complément">
    <ion-content>
        <section>
            <h5 style="border-bottom-color:black; border-bottom-width:1px; border-bottom-style:double">{{current.autoCompleteTitle}}</h5>
            <label class="item item-input ion-man metadata-mandatory-true" style="border-top:none">
                &#160;
                <input type="text" id="inputTextValue" placeholder="{{current.autoCompletePlaceHolder}}" ng-model="value" ng-change="onType()" />
            </label>
            <ion-list>
                <ion-item ng-repeat="item in items | orderBy:['text']" class="row-result ion-android-arrow-dropright">
                    <span ng-click='doSelect("{{item.key}}","{{item.text}}")'>{{item.text}}</span>
                </ion-item>
            </ion-list>
        </section>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <div go-back="false"></div>
        </div>
    </ion-footer-bar>
</ion-view>
