<ion-view view-title="">
    <ion-content>
        <section>
            <label class="item item-input ion-man metadata-mandatory-true">
                &#160;
                <input type="text" placeholder="{{current.autoCompletePlaceHolder}}" ng-model="value" ng-change="onType()" />
            </label>
            <ion-list>
                <ion-item ng-repeat="item in items | orderBy:['text']" class="row-result ion-android-arrow-dropright">
                    <span ng-click="doSelect('{{item.key}}')">{{item.text}}</span>
                </ion-item>
            </ion-list>
        </section>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <div go-back="false"></div>
        </div>
    </ion-footer-bar>
</ion-view>
