<ion-view view-title="Société">
    <ion-content>
        <section>
            <ion-list>
                <ion-item ng-repeat="Entity in Entitys | orderBy:['Label']" class="row-result ion-android-arrow-dropright" ng-click="onChoose('{{Entity.Id}}')">
                    <span>{{Entity.Label}}</span>
                </ion-item>
            </ion-list>
        </section>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <div go-back="true"></div>
        </div>
    </ion-footer-bar>
</ion-view>