<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="JpegTestFile1" value="c:\Temp\page1.jpeg" />
  <add key="JpegTestFile2" value="c:\Temp\page2.jpeg" />
  <add key="TempDirectory" value="c:\Temp\" />
  <add key="VignetteStoreUNC" value="D:\temp\test\VignetteStore" />
  <add key="PageStoreUNC" value="D:\temp\test\PageStore" />
  <add key="VersionStoreUNC" value="D:\temp\test\VersionStore" />
  <!--<add key="PageStoreUNC" value="\\l-fr-h0183/sqlexpress/FileTables/PageStore" />
  <add key="VersionStoreUNC" value="\\l-fr-h0183/sqlexpress/FileTables/VersionStore" />
  <add key="VignetteStoreUNC" value="\\l-fr-h0183/sqlexpress/FileTables/VignetteStore" />-->
  <add key="ModelDirectory" value="C:\Projets\TakeDoc\Model\"/>
  <add key="BatchConvertPdf" value="C:\Projets\TakeDoc\Model\convert.bat"/>
</appSettings>
