<ion-view view-title="Informations">
   <ion-content>
       <section>
           <ion-list id="ion-list-folder">
               <ion-item ng-repeat="folder in folders" class="fd-row-result">
                   <div>{{folder.title}}</div>
                   <div class="small-label">Entité&#160;:&#160;{{folder.entityLabel}}&#160;Statut&#160;:&#160;{{folder.status}}</div>
                   <div>Du&#160;{{folder.startLabel}}</div>
                   <div>Au&#160;{{folder.endLabel}}</div>
                   <div>
                       {{folder.detail}}
                   </div>
                   <div ng-click='doOpen()' class="button button-small button-light ion-eye"></div>
               </ion-item>
           </ion-list>
       </section>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <div go-back="true"></div>
        </div>
    </ion-footer-bar>
</ion-view>
