<ion-view view-title="Planning">
   <ion-content>
       <section>
           <ion-list id="ion-list-folder">
               <ion-item ng-repeat="folder in folders" class="cadre">
                   <div class="ion-android-arrow-dropright" style="font-size:12px">&#160;{{folder.title}}</div>
                   <div><span class="visible-label">Type&#160;:</span>&#160;{{folder.folderTypeLabel}}</div>
                   <div><span class="visible-label">Entité&#160;:</span>&#160;{{folder.entityLabel}}&#160;<span class="visible-label">Statut&#160;</span>:&#160;{{folder.status}}</div>
                   <div>Du&#160;{{folder.startLabel}}</div>
                   <div>Au&#160;{{folder.endLabel}}</div>
                   <div>
                       {{folder.detail}}
                   </div>
                   <div ng-click='doOpen()' class="button button-small button-light ion-eye"></div>
               </ion-item>
           </ion-list>
       </section>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <div go-back="true"></div>
        </div>
    </ion-footer-bar>
</ion-view>
