body {
    font-size:small;
}
/* Empty. Add your own CSS if you like */
.counter-round {
    border-radius: 25px;
}

div.button-bar {
    position:relative;
    right:0px;
    float: right;
}

.errorMessage {
    padding-left:10px;
    padding-right: 10px;
    padding-top:50px;
}

.move-down {
    margin-top: 30px;
}

.row-result {
    border-top: none;
    padding: 20px 0px 20px 5px; 
    margin: 0px 0px 0px 0px; 
    cursor: pointer;
    font-size: small !important;
}

.no-row-result {
    color: #ff9494;
    padding: 65px 0px 0px 60px; 
    margin: 0px 0px 0px 0px; 
}
.row-result .ion-android-arrow-dropright {
    margin-right:10px;
}

/* find document resultat*/
.cadre {
    margin: 3px !important;
    padding: 10px !important;
    border:1px medium gray;
    background-color: #F6D8CE;
    border-radius: 5px;
    font-size: small;
}

.visible-label {
    font-weight:bold;
}

/* formulaire METADATA */
.metadata-label {
    display: block; 
    vertical-align:top; 
    width:90%; 
    padding-left: 2px;
    padding-top:5px; 
}

.metadata-section {
    background-color: #ACFA58;
    border-radius: 5px;
    width:95%;
    padding-left:3px;
    font-weight:bold;
}

.metadata-label-ion-toggle {
    margin-left:0px; 
    padding-left:0px;
    border:none; 
    vertical-align:top;
    font-size: small !important;
}

.metadata-mandatory-true {
    background-image: url("../img/mandatory.png");
    background-repeat: no-repeat;
    padding-left:10px;
}

.metadata-mandatory-false {
    padding-left:10px;
}

.metadata-item-list {
    height:90px;
    padding:0px; 
    margin-top:2px; 
    margin-left:2px; 
    margin-bottom:0px; 
    margin-right:0px;
    padding-top: 5px;
    font-size: small !important;
    border: none;
}

.metadata-item-list-signature {
    height:220px;
    padding:0px; 
    margin-top:2px; 
    margin-left:2px; 
    margin-bottom:0px; 
    margin-right:0px;
    padding-top: 5px;
    font-size: small !important;
    border: none;
}

/* LOGIN - page de login */
.login {
    background-image: url("../img/login-small.jpg");
    background-repeat: no-repeat;
    background-position-x:center;
    padding-top:150px;
}

/* MENU GENERAL */
@media screen and (max-width: 320px) {
	.td-menuItem {
		margin-left: 2%;
        margin-top: 10px;
		width: 96%;
	}
}
@media screen and (min-width: 320px) {
	.td-menuItem {
		margin-left: 2%;
        margin-top: 10px;
        font-size: 12px;
		width: 46%;
	}
}
@media screen and (min-width: 380px) {
	.td-menuItem {
		margin-left: 2%;
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
		width: 46%;
        font-size: medium;
	}
}

.menu-empty {
    background-color:#D8D8D8 !important;
}

/* PRISE PHOTO */
.takePictureThumbnail {
    width:50px;
    height: 50px;
	float: left;
}

.container-takePicture {
	display:inline-block;
}
@media screen and (max-width: 250px) {
	.container-takePicture {
		display:block;
	}
}

.container-takePicture .button-small {
    margin-left: 5px;
}

.take-picture-rotate {

}

.take-picture-page-number {
    font-size: 8px;
    padding-left: 2px;
}

.form-input-field {
    width: 90% !important;
    background-color: #F2F2F2 !important;
    height: 30px !important;
    margin-left: 5px;
    border-radius:5px;
}

.form-input-field-signature {
    margin-left:5px !important;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 95% !important;
    background-color: lightgray !important;
    height: 170px !important;
}

.jSignature {
    height: 170px !important;
}

.take-picture-rotate000 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.take-picture-rotate090 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.take-picture-rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.take-picture-rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.fileselector-container {
    height: 30px;
    padding-left: 5px;
}

.fileselector-item {
    height:30px;
    padding-left:5px;
    font-style:italic;
}

.small-label {
    /*font-size: 10px;*/
}

.waitMessage {
    margin-top:30px;
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight:bold;
    border-radius: 10px;
}