/* Empty. Add your own CSS if you like */
div.button-bar {
    position:relative;
    right:0px;
    float: right;
}

.item-divider {
    font-weight: bold !important;
    padding-left: 5px;
}

.errorMessage {
    padding-left:10px;
    padding-right: 10px;
    padding-top:50px;
}

.home {
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
    background-position-x:center;
}

.next {
    background-image: url("../img/next.png");
    background-repeat: no-repeat;
    background-position-x:center;
}

.save {
    background-image: url("../img/save.png");
    background-repeat: no-repeat;
    background-position-x:center;
}

.photo {
    background-image: url("../img/photo.png");
    background-repeat: no-repeat;
    background-position-x:center;
}

.button-bar .button {
    height:150px;
}

section p {
    margin-top:15px;
}

.login {
    background-image: url("../img/login-small.jpg");
    background-repeat: no-repeat;
    background-position-x:center;
    padding-top:150px;
}

.logout {
    background-image: url("../img/logout-small.png");
    background-repeat: no-repeat;
    height:22px;
    width:22px;
}

.takePictureThumbnail {
    width:50px;
    height: 50px;
}