<ion-view view-title="Profil">
    <ion-content>
        <section>
            <label class="item item-input">
                <span class="input-label">Nom</span>
                <input type="text" ng-model="User.LastName" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Prénom</span>
                <input type="text" ng-model="User.FirstName" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="User.Email" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Téléphone</span>
                <input type="tel" ng-model="User.Telephone" readonly>
            </label>
        </section>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <div go-back="true"></div>
        </div>
    </ion-footer-bar>
</ion-view>
