<ion-view view-title="Menu">
    <ion-content>
        <div class="list td-menu">
            <div class="item item-divider">
                Mes documents
            </div>
            <ion-list>
                <ion-item ng-repeat="item in items | filter:'DOCUMENTS'" ng-click="show('{{item.scenario}}','{{item.url}}')">
                    <div class="button button-light td-menuItem {{item.cssClassName}}">{{item.title}}</div>
                </ion-item>
            </ion-list>
        </div>
        <div class="list td-menu"">
            <div class="item item-divider">
                Mon Compte
            </div>
			<div>
            <ion-list>
                <ion-item ng-repeat="item in items | filter:'COMPTE'" ng-click="show('{{item.scenario}}','{{item.url}}')" ng-class="test">
                    <div class="button button-light td-menuItem {{item.cssClassName}}">{{item.title}}</div>
                </ion-item>
            </ion-list>
			</div>
        </div>
        <div class="list td-menu"">
            <div class="item item-divider">
                Autres
            </div>
            <ion-list>
                <ion-item ng-repeat="item in items | filter:'AUTRE'" ng-click="show('{{item.scenario}}','{{item.url}}')">
                    <div class="button button-light td-menuItem {{item.cssClassName}}">{{item.title}}</div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
