<ion-view view-title="{{title}}">
   <ion-content>
       <section>
           <ion-list>
               <ion-item ng-repeat="Metadata in Metadatas | orderBy:['attributes.index']">
                   <label class="item item-input metadata-mandatory-{{Metadata.attributes.mandatory}}">
                       <span class=" input-label">
                       {{Metadata.attributes.label}}</span>
                       <input class="metadata-field" id="input-{{Metadata.attributes.id}}-{{Metadata.attributes.name}}" type="{{Metadata.attributes.type}}" ng-model="Metadata.attributes.value">
                   </label>
                   
                </ion-item>
           </ion-list>
       </section>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <div go-click="{{nextUrl}}" valid-input="doSave()"></div>
        </div>
    </ion-footer-bar>
</ion-view>
