<ion-view view-title="{{title}}">
   <ion-content>
       <section>
           <ion-list>
               <ion-item ng-repeat="Metadata in Metadatas | orderBy:['attributes.index']">
                   <label class="item item-input metadata-mandatory-{{Metadata.attributes.mandatory}}" ng-switch="{{Metadata.attributes.isList}}">
                       <span class=" input-label">{{Metadata.attributes.label}}-{{Metadata.attributes.isList}}</span>
                       
                       <select td-select="{{Metadata.attributes.id}}" ng-switch-when="true"></select>

                       <input class="metadata-field" id="input-{{Metadata.attributes.id}}-{{Metadata.attributes.name}}" type="{{Metadata.attributes.type}}" ng-model="Metadata.attributes.value" ng-switch-default="" />
                   </label>
               </ion-item>
           </ion-list>
       </section>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <div go-click="{{nextUrl}}" valid-input="doSave()"></div>
        </div>
    </ion-footer-bar>
</ion-view>
