<ion-view view-title="Informations">
   <ion-content>
       <section>
           <ion-list id="ion-list-metadata">
               <ion-item id="item-{{metadata.attributes.id}}" class="metadata-item-list" ng-repeat="metadata in myTakeDoc.Metadatas.models | orderBy:['attributes.index']">

                   <div ng-if="metadata.attributes.htmlType != 'ion-toggle'" class="metadata-label metadata-mandatory-{{metadata.attributes.mandatory}}">
                       {{metadata.attributes.label}}-{{metadata.attributes.htmlType}}
                   </div>

                   <div ng-if="metadata.attributes.htmlType != 'ion-toggle'" ng-switch on="metadata.attributes.htmlType" style="display: inline-block; padding-left:5px; vertical-align:top; padding-top:5px;">
                       <select ng-switch-when="list" ng-readonly="mode == 'READ'" ng-model="metadata.attributes.value" class="ion-input-select" style="height:20px" tabindex="{{metadata.attributes.index}}">
                           <option ng-repeat="item in metadata.attributes.valueList.models" value="{{item.attributes.key}}">{{item.attributes.text}}</option>
                       </select>
                       <!--<div ng-switch-when="file" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" name="{{metadata.attributes.id}}" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}">
                           <span ng-show="metadata.attributes.value != '' && metadata.attributes.value != null" class="label label-info glyphicon glyphicon-eye-open" style="cursor:pointer" ng-click="doOpenFile(metadata.attributes.id)">&#160;{{metadata.attributes.value}}</span>
                           <span ng-show="metadata.attributes.value != '' && metadata.attributes.value != null" class="label label-danger glyphicon glyphicon-remove" style="cursor:pointer" ng-click="fileRemove(metadata.attributes.id)">&#160;</span>
                           <div ng-show="metadata.attributes.value == '' || metadata.attributes.value == null" flow-init
                                flow-file-added="fileAdd( $file, $event, $flow, metadata.attributes.id )">
                               <input type="file" flow-btn />
                           </div>
                       </div>-->
                       <div ng-switch-when="textarea" ng-readonly="mode == 'READ'">
                           <textarea id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" ng-model="metadata.attributes.value" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" rows="2"></textarea>
                       </div>
                       <div ng-switch-when="autocomplete" ng-readonly="mode == 'READ'">
                           <textarea rows="5" class="metadata-autocomplete-value" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" ng-model="metadata.attributes.value" tabindex="{{metadata.attributes.index}}" ng-focus="doAutocompleteOnFocus(metadata.attributes.id)"></textarea>
                       </div>
                       <div ng-switch-when="file" ng-readonly="mode == 'READ'">
                           <textarea rows="5" class="metadata-autocomplete-value"id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" ng-model="metadata.attributes.value" tabindex="{{metadata.attributes.index}}" ng-focus="doMetadataFileOnFocus(metadata.attributes.id)"></textarea>
                       </div>

                       <input ng-switch-when="date" ng-readonly="mode == 'READ'" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" type="{{metadata.attributes.type}}" ng-model="metadata.attributes.value" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" />
                       <input ng-switch-when="number" ng-readonly="mode == 'READ'" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" type="{{metadata.attributes.type}}" ng-model="metadata.attributes.value" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" />
                       <input ng-switch-default="" ng-readonly="mode == 'READ'" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" type="{{metadata.attributes.type}}" ng-model="metadata.attributes.value" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" />
                   </div>

                   <div ng-if="metadata.attributes.htmlType == 'ion-toggle'">
                       <ion-toggle ng-model=" metadata.attributes.value" toggle-class="toggle-calm" class="metadata-label-ion-toggle metadata-mandatory-{{metadata.attributes.mandatory}}" tabindex="{{metadata.attributes.index}}">
                           {{metadata.attributes.label}}
                       </ion-toggle>
                   </div>
               </ion-item>
           </ion-list>
       </section>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <div go-back="true"></div>
            <div ng-show="mode != 'READ'" go-click="{{nextUrl}}" valid-input="doSave()"></div>
            <div back-button ng-show="mode == 'READ'"></div>
        </div>
    </ion-footer-bar>
</ion-view>
