<div id="divInboxDisplay" class="panel-primary" style="padding:5px;" ng-show="document.attributes.label != null">
    <div id="toolbarTakeDoc" class="panel-heading" role="toolbar">
        <button class="btn-xs btn-default glyphicon glyphicon-floppy-disk" ng-click="doSave(false);" data-toggle="tooltip" title="Enregistrer" ng-hide="document.isReadOnly()" data-placement="bottom"></button>
        <button class="btn-xs btn-default glyphicon glyphicon-plane" ng-click="doSave(true);" data-toggle="tooltip" title="Enregistrer et envoyer" ng-hide="document.isReadOnly()" data-placement="bottom"></button>
        <button class="btn-xs btn-default glyphicon glyphicon-remove" ng-click="doRemove();" data-toggle="tooltip" title="Supprimer" ng-hide="document.isReadOnly()" data-placement="bottom"></button>
        <button class="btn-xs btn-default glyphicon glyphicon-eye-open" ng-click="doOpenDocument();" ng-hide="pdfIsEnable() == false" data-toggle="tooltip" title="Ouvrir PDF" data-placement="bottom"></button>

        <button class="btn-xs btn-default glyphicon glyphicon-thumbs-up" data-toggle="tooltip" title="Workflow" ng-hide="workflowIsEnable == false" data-placement="bottom" ng-click="showAnswer()"></button>
        <button class="btn-xs btn-default glyphicon glyphicon-folder-close" data-toggle="tooltip" title="Archiver" ng-hide="ArchiveIsEnable() == false" data-placement="bottom" ng-click="doArchive()"></button>
    </div>
    <div class="panel-info" id="divDetailDocument">
        <div class="panel-heading">
            <h3 class="panel-title"><input ng-model="document.attributes.label" class="inbox-title to-save-{{hasChanged()}}" ng-disabled="document.isReadOnly()" ng-keypress="isUpdate = true" /></h3>
        </div>
        <div class="panel-body">
            <div role="tabpanel" id="myTabPanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#infos" onclick="return false" aria-controls="infos" role="tab" data-toggle="tab">Informations</a></li>
                    <li role="presentation"><a href="#detail" onclick="return false" aria-controls="home" role="tab" data-toggle="tab">Données</a></li>
                    <li role="presentation"><a href="#photos" onclick="return false" aria-controls="home" role="tab" data-toggle="tab">Photos</a></li>
                    <li role="presentation"><a href="#plan" onclick="return false" aria-controls="home" role="tab" data-toggle="tab">Plan</a></li>
                    <li role="presentation"><a href="#history" onclick="return false" aria-controls="profile" role="tab" data-toggle="tab">Workflow</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="infos">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <div class="inbox-metadata" style="display:inline-block;padding-left:5px">
                                {{document.attributes.statusLabel}}
                            </div>
                            <label class="control-label" style="padding-left:15px">Propriétaire</label>
                            <div class="inbox-metadata" style="display:inline-block;padding-left:5px">
                                {{document.attributes.ownerFullName}}
                            </div>
                            <div ng-show="document.attributes.updaterFullName != null" class="inbox-metadata" style="display:inline-block;padding-left:10px;font-size:9px">
                                Modifié le {{document.attributes.dateUpdate}} par {{document.attributes.updaterFullName}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label input-metadata-title" style="padding-left:15px">Entité</label>
                            <div class="inbox-metadata" style="display:inline-block;padding-left:15px">
                                {{document.attributes.entityLabel}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label input-metadata-title" style="padding-left:15px">Type</label>
                            <div class="inbox-metadata" style="display:inline-block;padding-left:15px">
                                {{document.attributes.typeLabel}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label input-metadata-title">Référence doc.</label>
                            <div class="inbox-metadata" style="display:inline-block;padding-left:15px">
                                {{document.attributes.reference}}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="detail">
                        <form class="form-horizontal" style="padding-left:15px;">
                            <div ng-repeat="metadata in metadatas.models | filter: filterFieldMapMetaData | orderBy:['attributes.index']" class="form-group" ng-switch="metadata.attributes.htmlType">
                                <label class="col-md-3 control-label input-metadata-title">
                                    {{metadata.attributes.label}}
                                    <span ng-if="metadata.attributes.mandatory == true" class="input-metadata-required">*</span>
                                </label>

                                <div class="col-md-9 inbox-metadata" id="divinput-{{metadata.attributes.id}}-{{metadata.attributes.name}}">
                                    <select ng-switch-when="list" ng-disabled="document.isReadOnly()" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" ng-model="metadata.attributes.value" tabindex="{{metadata.attributes.index}}" class="form-control inbox-item-input" mandatory="{{metadata.attributes.mandatory}}" ng-change="isUpdate = true">
                                        <option ng-repeat="item in metadata.attributes.valueList.models" ng-selected="metadata.attributes.value == item.attributes.key" value="{{item.attributes.key}}">{{item.attributes.text}}</option>
                                    </select>
                                    <div ng-switch-when="signature">
                                        <img id="img-sign-{{metadata.attributes.id}}" data-ng-src="{{metadata.attributes.value}}" />
                                    </div>
                                    <input ng-switch-when="date" ng-disabled="document.isReadOnly()" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" name="{{metadata.attributes.id}}" type="date" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" class="form-control inbox-item-input" mandatory="{{metadata.attributes.mandatory}}" />
                                    <input ng-switch-when="ion-toggle" ng-disabled="document.isReadOnly()" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" type="checkbox" ng-checked="metadata.attributes.value" ng-model="metadata.attributes.value" tabindex="{{metadata.attributes.index}}" mandatory="{{metadata.attributes.mandatory}}" />
                                    <textarea ng-switch-when="textarea" ng-disabled="document.isReadOnly()" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" class="form-control" ng-model="metadata.attributes.value" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" rows="3" mandatory="{{metadata.attributes.mandatory}}"></textarea>
                                    <input ng-switch-when="autocomplete" ng-disabled="document.isReadOnly()" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" class="form-control" tk-autocomplete="{{metadata.attributes.id}}" ng-model="metadata.attributes.text" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" mandatory="{{metadata.attributes.mandatory}}" />
                                    <input ng-switch-when="number" type="text" onkeypress="return ((event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode == 46);" ng-disabled="document.isReadOnly()" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" ng-model="metadata.attributes.value" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" class="form-control inbox-item-input" mandatory="{{metadata.attributes.mandatory}}" />
                                    <input ng-switch-default="" ng-disabled="document.isReadOnly()" id="input-{{metadata.attributes.id}}-{{metadata.attributes.name}}" type="{{metadata.attributes.type}}" ng-model="metadata.attributes.value" value="{{metadata.attributes.value}}" tabindex="{{metadata.attributes.index}}" class="form-control inbox-item-input" mandatory="{{metadata.attributes.mandatory}}" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="photos">
                        <div style="padding-top:5px;margin-left:0px;padding-left:0px" class="container-fluid">
                            <div class="form-group" ng-if="pages.models.length > 0">
                                <div ng-repeat="page in pages.models | filter: notDeletedPage | orderBy:['attributes.pageNumber']">
                                    <img data-ng-src="{{page.attributes.base64Image}}" id="img-page-{{page.attributes.id}}" ng-click="openImage()" class="inbox-thumbnail inbox-thumbnail-rotate{{page.attributes.rotation}}" />&#160;Page&#160;{{page.attributes.pageNumber}}
                                    <button class="btn-xs btn-default glyphicon glyphicon-repeat" ng-click="doTurn(page.attributes.id)" data-toggle="tooltip" title="Pivoter" ng-hide="document.isReadOnly()" data-placement="bottom"></button>
                                    <button class="btn-xs btn-default glyphicon glyphicon-chevron-up" ng-click="moveUp(page.attributes.id)" data-toggle="tooltip" title="Pivoter" ng-hide="document.isReadOnly()" data-placement="bottom"></button>
                                    <button class="btn-xs btn-default glyphicon glyphicon-chevron-down" ng-click="moveDown(page.attributes.id)" data-toggle="tooltip" title="Pivoter" ng-hide="document.isReadOnly()" data-placement="bottom"></button>
                                    <button class="btn-xs btn-default glyphicon glyphicon-remove" ng-click="deletePicture(page.attributes.id)" data-toggle="tooltip" title="Supprimer" ng-hide="document.isReadOnly()" data-placement="bottom"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="plan">
                        <div style="padding-top:5px;margin-left:0px;padding-left:0px" class="container-fluid">
                            <div class="form-group" ng-repeat="map in metadatas.models | filter: { attributes: { htmlType: 'map'}} | orderBy:['attributes.pageNumber']">
                                <img data-ng-src="{{map.attributes.value.base64}}" style="margin-left:10px; margin-right:10px; height:50% " />
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="history">
                        <div style="padding-top:5px;margin-left:0px;padding-left:0px" class="container-fluid" ng-repeat="history in historys.models">
                            <div class="row">
                                <div class="col-md-4" style="font-weight:bold">{{history.attributes.statusLabel}}</div>
                                <div class="col-md-4" tk-date="history.attributes.dateCreateData"></div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row" ng-hide="history.actions.length == 0">
                                <div class="col-md-1"></div>
                                <div class="col-md-3 inbox-action-header">Gestionnaire</div>
                                <div class="col-md-3 inbox-action-header">Nom</div>
                                <div class="col-md-3 inbox-action-header">Date</div>
                                <div class="col-md-2 inbox-action-header">Réponse</div>
                            </div>

                            <div class="row" ng-repeat="action in history.actions | orderBy:['attributes.index']">
                                <div class="col-md-1"></div>
                                <div class="col-md-3 inbox-action-cancel-{{action.attributes.deleted}}">{{action.attributes.typeDocumentLabel}}</div>
                                <div class="col-md-3 inbox-action-cancel-{{action.attributes.deleted}}">{{action.attributes.fullName}}</div>
                                <div class="col-md-3 inbox-action-cancel-{{action.attributes.deleted}}" tk-date="action.attributes.dateRealize"></div>
                                <div class="col-md-2 inbox-action-cancel-{{action.attributes.deleted}}">
                                    <div class="glyphicon glyphicon-comment" ng-if="action.attributes.comment != '' && action.attributes.comment != null" data-toggle="tooltip" title="{{action.attributes.comment}}" data-placement="left"></div>
                                    {{action.attributes.answerLabel}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal anwswer worfkfow -->
<div class="modal fade tk-modal" id="modalAnswerWorkflow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close" ng-click="currentAsnwer = null;"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Actions</h4>
            </div>
            <div class="modal-body">
                <div class="dropdown" style="display:inline-block">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" ng-init="test=1">
                        {{currentAnswer.attributes.label}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" ng-click="doSelectAnswer()" ng-model="answer.attributes.id" onclick="return false" ng-repeat="answer in answers.models | orderBy:['attributes.label']"><a role="menuitem" tabindex="-1" href="#">{{answer.attributes.label}}</a></li>
                    </ul>
                </div>
                <div>&#160;</div>
                <div class="form-group">
                    <label for="comment">Commentaire:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default glyphicon glyphicon-floppy-disk" ng-click="doValidSelectedAnswer()" data-toggle="tooltip" title="Enregistrer" data-placement="bottom"></button>
                </div>
            </div>
        </div>
    </div>
</div>